@charset "UTF-8";
/*
0-350px: small phone
350-600px : phone
600-900px: tablet portarit
900-1070px: mini desktop
1070-1200px: tablet landscape
1200-1520px: small-desktop
[1200-1800px]: main style 
1800px + : big desktop

$breakpoint argument choices
-phone-small
-phone
-tab-port
-mini-desktop
-tab-land
-small-desktop
-big-desktop

1em =16px
*/
@keyframes moveInHeader {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    box-shadow: 0px 0px 0px 0px #727272;
  }
  90% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    box-shadow: 0px 5px 30px 0px #727272;
  }
}
@keyframes moveOutHeader {
  0% {
    box-shadow: 0px 5px 30px 0px #727272;
    opacity: 1;
    transform: translateY(20%);
  }
  90% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
  }
  100% {
    box-shadow: 0px 0px 0px 0px #727272;
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* set the box size in all elements inherit */
  box-sizing: inherit;
  direction: rtl;
  overflow-x: hidden;
  cursor: default;
}

html {
  position: relative;
  scroll-behavior: smooth;
  font-size: 1.1111111vw;
}
html::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 66.875em) {
  html {
    font-size: 50%;
    font-size: 4.444444vw;
  }
}

body {
  /* set the box size in all elements to border-box thanks to *{} */
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fafafa;
}
::selection {
  background-color: #ffcc34;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* Reset styling for links */
a,
a[href^="tel:"],
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "adoveFnt22";
  src: url("../fonts/ploni-regular-aaa.otf");
  font-display: swap;
}
@font-face {
  font-family: "adoveFnt22-bold";
  src: url("../fonts/ploni-bold-aaa.otf");
  font-display: swap;
}
body {
  font-family: "adoveFnt22", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #201b22;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .section-title {
    font-size: 2rem;
    text-align: center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .section-title::after {
    content: "";
    position: block;
    flex: 1;
    height: 1px;
    background-color: #ffc107;
    z-index: -1;
  }
  .section-title::before {
    content: "";
    position: block;
    flex: 1;
    height: 1px;
    background-color: #ffc107;
    z-index: -1;
  }
}

.blue-text {
  color: #ffc107;
}

.orange-text {
  color: #201b22;
}

.btn {
  color: #000;
  background-color: #ffc107;
  padding: 0.6rem 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: "adoveFnt22", sans-serif;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1;
  transition: color 0.2s ease;
  text-decoration: none;
  border-radius: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn::after {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  transition: height 0.2s ease;
}
.btn:hover, .btn:focus {
  color: #ffc107;
  border: 2px solid #000;
}
.btn:hover::after, .btn:focus::after {
  height: calc(100% + 4px);
}
.btn > * {
  cursor: pointer;
}
.btn-container {
  position: relative;
  width: 8rem;
  height: 3rem;
  margin: auto;
  overflow: visible;
}
@media only screen and (max-width: 66.875em) {
  .btn-container:hover > a {
    transform: translate(0.5rem, 0.5rem);
  }
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
[type=”email”],
[type=”tel”],
[type=”number”],
.input-checkbox {
  -webkit-appearance: none;
}

.bld {
  font-family: "adoveFnt22-bold";
}

.show-on-scroll {
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s;
  will-change: transform opacity;
}
.show-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0%);
}

@media only screen and (max-width: 66.875em) {
  .u-desktop {
    display: none !important;
  }
}

.u-mobile {
  display: none !important;
}
@media only screen and (max-width: 66.875em) {
  .u-mobile {
    display: inherit !important;
  }
}

.u-fake-border {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid black;
  z-index: 2;
  pointer-events: none;
}

.u-round {
  border-radius: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(32, 27, 34, 0.2);
  width: 100%;
  height: 4rem;
  max-height: 150px;
  z-index: 100;
}
.header-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: #ffc107;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header-social:hover {
  transform: scale(1.1);
}
.header-social img {
  width: 6rem;
  height: 6rem;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #ffc107;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.header-logo:hover {
  transform: scale(1.1);
}
.header-logo img {
  width: 2rem;
  height: 2rem;
}

.top-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .top-section {
    height: 30vh;
  }
}
.top-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}
.top-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(80%);
  z-index: -3;
}
.top-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  z-index: 1;
}
.top-container h1 {
  font-size: 5rem;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}
.top__wave {
  display: flex;
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 120%;
  object-fit: cover;
  overflow: hidden;
  fill: #fafafa;
  transform: translateX(-50%);
  z-index: 0;
}
@media only screen and (max-width: 37.5em) {
  .top__wave {
    height: 35%;
  }
}

.about-section {
  position: relative;
  overflow: visible;
  background-color: #fafafa;
  padding: 6rem 15rem 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .about-section {
    flex-direction: column;
    padding: 9rem 1%;
    margin-block-start: -1px;
  }
}
.about-logo {
  width: 30%;
}
@media only screen and (max-width: 37.5em) {
  .about-logo {
    width: 10rem;
    position: absolute;
    top: -3.5rem;
    background-color: #fafafa;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
    z-index: 8;
  }
}
.about-logo-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  border: 1px solid #ffc107;
}
.about-data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .about-data {
    width: 90%;
    padding: 0;
  }
}
.about-data-brand {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.about-data-social {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}
.about-data-social-item {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-inline: 0.5rem;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-data-spec {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333;
  text-align: right;
  background-color: rgba(255, 193, 7, 0.2);
  border: 1px solid #ffc107;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .about-data-spec {
    font-size: 1rem;
  }
}
.about-data-text {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.calender-section {
  padding: 2rem 15rem;
  background-color: #fafafa;
}

.gallery {
  overflow: visible;
  background-color: #fafafa;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.eot');
    src: url('https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https: //cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
    font-display: swap;
} */
/* Arrows */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  display: none !important;
  /* position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center; */
}

img.slick-slide {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: inherit !important;
  max-height: 600px;
  border-radius: 1rem;
}

.slide {
  height: 100%;
}

.slick-track {
  display: flex !important;
  margin-bottom: 0;
  object-fit: cover;
  gap: 2rem;
  overflow: visible;
}

.slick-list {
  overflow: visible;
}

.slider {
  position: relative;
  overflow: visible;
  padding: 3rem 0rem;
}
.slider-item {
  position: relative;
  height: 589px;
  overflow: visible;
}
@media only screen and (max-width: 58.75em) {
  .slider-item {
    height: 444px;
    overflow: visible;
  }
}
.slider-item img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  aspect-ratio: 1.5;
}
.footer {
  padding: 6rem 15rem 3rem;
  background-color: #201b22;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__form {
  display: flex;
  flex-direction: column;
}

.top-form {
  display: flex;
  font-size: 1.2rem;
  background-color: #ffc107;
  padding: 1rem 1rem;
  border-radius: 5rem;
}
.top-form label {
  display: none;
}
.top-form-inputs {
  display: flex;
  gap: 1rem;
}
.top-form .field-group {
  flex: 1;
  min-width: 15rem;
}
.top-form .field-group.form__buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 3rem;
}
.top-form-input {
  font-family: "adoveFnt22", sans-serif;
  height: 3rem;
  width: 100%;
  border: none;
  margin: 0 0;
  padding: 0 1rem 0 0;
  font-size: 1.2rem;
  border-radius: 10rem;
  -webkit-appearance: none;
  cursor: text;
  width: 100%;
}
@media only screen and (max-width: 58.75em) {
  .top-form-input {
    font-size: 1rem;
    padding: 0 1rem;
    height: 2rem;
  }
}
.top-form-input:focus {
  color: #ffc107;
}
@media only screen and (max-width: 66.875em) {
  .top-form-input {
    width: 100%;
  }
}
.top-form-input::placeholder {
  color: black;
}
.top-form-input:focus {
  outline: 0;
}
.top-form-input:hover::placeholder {
  color: #eab002;
}
.top-form select {
  font-family: "adoveFnt22", sans-serif;
  height: 3rem;
  width: 100%;
  border: none;
  margin: 0 0;
  padding: 0 1rem 0 0;
  font-size: 1.2rem;
  border-radius: 10rem;
  -webkit-appearance: none;
  cursor: text;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: #000;
}
@media only screen and (max-width: 58.75em) {
  .top-form select {
    font-size: 1rem;
    padding: 0 1rem;
    height: 2rem;
  }
}
.top-form select:focus {
  color: #ffc107;
}
.top-form select:focus {
  color: #ffc107;
}
.top-form select option {
  color: #000;
}
.top-form .btn-container {
  margin: unset;
  align-self: center;
  transition: all 0.2s;
}
.top-form button.submit,
.top-form input[type=submit] {
  height: 3rem;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  -webkit-appearance: none;
  -webkit-border-radius: 10rem;
  transition: all 0.2s;
  color: #ffc107;
  background-color: #ffc107;
  padding: 0.6rem 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: "adoveFnt22", sans-serif;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1;
  transition: color 0.2s ease;
  text-decoration: none;
  border-radius: 1rem;
  font-family: "adoveFnt22-bold", sans-serif;
  position: relative;
  border: none;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #000;
  background-color: #201b22;
  width: 100%;
  align-self: center;
  transition: all 0.5s;
  color: white;
  border-radius: 10rem;
}
.top-form button.submit::after,
.top-form input[type=submit]::after {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffc107;
  transition: height 0.2s ease;
}
.top-form button.submit:hover, .top-form button.submit:focus,
.top-form input[type=submit]:hover,
.top-form input[type=submit]:focus {
  color: #ffc107;
  border: 2px solid black;
}
.top-form button.submit:hover::after, .top-form button.submit:focus::after,
.top-form input[type=submit]:hover::after,
.top-form input[type=submit]:focus::after {
  height: calc(100% + 4px);
}
.top-form button.submit > *,
.top-form input[type=submit] > * {
  cursor: pointer;
}
@media only screen and (max-width: 66.875em) {
  .top-form button.submit,
  .top-form input[type=submit] {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
.top-form button.submit .button-text,
.top-form input[type=submit] .button-text {
  cursor: pointer;
}
@media only screen and (max-width: 66.875em) {
  .top-form button.submit,
  .top-form input[type=submit] {
    width: 100%;
  }
  .top-form button.submit:hover,
  .top-form input[type=submit]:hover {
    top: 0rem;
    right: 0rem;
    color: #000;
  }
}
.top-form button.submit:hover,
.top-form input[type=submit]:hover {
  top: 0rem;
  right: 0rem;
  color: #000;
}

/*# sourceMappingURL=index.css.map */
