.top {
    &-section {
        // min-height: 100vh;
        position: relative;
        border: 1px solid red;


        @include respond(tab-port) {
            // min-height: 100vh;
        }
    }

    &-img {

        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100vw;
        // height: auto;
        // filter: contrast(.6);
        // filter: grayscale(0.8);
        height: fit-content;
        height: -webkit-fill-available;
        z-index: -1;
    }

    &-container {

        text-align: center;
        background: #ffffff94;
        margin: 10rem 24rem;
        padding: 3rem;


        @include respond(tab-port) {
            margin: 1rem 1rem;
            padding: 1rem;
            font-size: 1rem;
            line-height: 1.7rem;
        }

        & h1 {
            overflow: hidden;
        }

        & a {
            overflow: hidden;

            @include respond(tab-port) {
                margin: 1rem 1rem;
            }
        }

        img {
            @include respond(tab-port) {
                width: 100%;
            }
        }
    }

    &-section {}

    &-section {}
}