//colors
$color-primary: #94b4a9;
$color-primary-dark: #82a297;
$color-primary-light: #adcdc2;
$color-primary-part-transparent: #e32c8764;

$color-secondary: #e0b24f;
$color-secondary-dark: #d4a745;

$color-last: #e29579;
$color-last-light: #f83d9a;
$color-last-dark: #c6106b;

html {
    // background: #f5f5f5;
    overflow: visible;
    // height: 100vh;
}

main {
    overflow: visible;
}

header {
    display: none;
}

.about {
    &-section {
        margin: 0;
    }
}

.contact-us {
    overflow: visible;

    &-section {
        border: 1px solid;
        border-radius: 1rem;
        width: 90%;
        margin: auto;
        box-shadow: 10px 10px 30px rgba(#000000, 0.3);
        overflow: visible;
        background: white;
    }

    &-title {
        margin: auto;
        text-align: center;
        padding-block-start: 1rem;
    }
}

.callPhone-fixed {
    top: 82vh;
}



.u-desktop {
    background-color: $color-primary;
    height: 100vh;
    width: 100vw;
    display: flex;

    h2 {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .btn {
        width: 5rem;
        height: 3rem;
    }
}