//colors
$color-primary: #4285f5;
$color-primary-light: #00adef;
$color-primary-dark: #0157a3;
$color-primary-part-transparent: #eff6fe;

$color-secondary: #66d2c4;
$color-secondary-dark: #48948a;

$color-last: #b82569;
$color-last-dark: #921c53;

$color-green: #729d46;
$color-blue: #409cdb;
$color-orange: #e47239;
$color-orange-dark: #b65b2e;
$color-red: #dd4233;

$color-grey-light-1: #f1f1f2;
$color-grey-light-2: #ececec;
$color-grey-light-3: #d8dde1;
$color-grey-carousel: #ececec;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #3d3d3d;
$color-footer-dark: #252525;

$color-white: #ffffff;
$color-black: #000;
$color-black-main: #201b22;
//font
$defaut-font-size: 1.6rem;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//perspectiv
$perspectiv-normal: 150rem;