//colors
$color-primary: #ffc107;
$color-primary-dark: #eab002;
$color-primary-light: #ffcc34;
$color-primary-part-transparent: #ffc107b7;

$color-secondary: #201b22;
$color-secondary-part-transparent: #201b223c;
$color-secondary-dark: #1b171d;

$color-last: #688e8d;
$color-last-part-transparent: #688e8dbf;
$color-last-light: #74a7a5;
$color-last-dark: #5b8180;

$color-grey-light-1: #f1f1f2;
$color-grey-light-2: #ececec;
$color-grey-light-3: #d8dde1;
$color-grey-carousel: #ececec;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #3d3d3d;
$color-footer-dark: #201b22;

$color-white: #ffffff;
$color-black: #000;
$color-black-main: #201b22;

$color-bg: #fafafa;

$header-height: 6rem;
$header-height-mobile: 5rem;

//font
$defaut-font-size: 1.6rem;

//error
$color-err: rgb(255, 50, 50);